.navbar-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}

.navbar-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 90%;
  max-width: 1100px;
}

.website-logo {
  width: 60px;
  height: 60px;
}

.hamburger-button {
  background-color: transparent;
  width: 45px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1110px;
  flex-grow: 1;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-top: 32px;
}

.nav-links-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  flex-grow: 1;
}

.nav-link-item {
  list-style-type: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1e293b;
  margin-bottom: 32px;
}

.nav-link-content {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 8px;
}
